node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

recipeAppReactNative/.expo/
recipeAppReactNative/.venv/
recipeAppReactNative/node_modules/
recipeAppReactNative/README.md
# macOS
.DS_Store

# vscode
.vscode

# env
.env


# python
fastAPI/__pycache__/
fastAPI/.idea/
fastAPI/.venv/
fastAPI/.env